
.wrapper {
  padding: 64px 32px;
  max-width: 800px;
  margin: 0 auto;
}

 header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 64px;
  min-height: 100px;
  margin: 30px;
}

.wrapper header h1 {
  position: relative;
  font-size: 2rem;
  /* line-height: 1.1; */
  color: black;
  font-family: cursive;
}

.wrapper header img {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 250px;
}

.controlsWrapper {
  color-scheme: light;
  outline: 0.5px dashed hsl(250deg 80% 80% / 0.6);
  outline-offset: 4px;
  border-radius: 4px;
  background: white;
  color: black;
  padding: 16px;
 
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  min-height: 3rem;
}

.row:not(:last-of-type) {
  padding-bottom: 16px;
  border-bottom: 1px dotted hsl(250deg 80% 80% / 0.5);
  margin-bottom: 16px;
}

.titleMessageWrapper {
  padding-bottom: 16px;
  border-bottom: 1px dotted hsl(250deg 80% 80% / 0.5);
  margin-bottom: 16px;
}
.titleMessageRow {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
.titleMessageRow:not(:last-of-type) {
  margin-bottom: 16px;
}

.label {
  flex-basis: 160px;
  text-align: right;
  font-weight: 700;
}

.inputWrapper {
  flex: 1;
}

.radioWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 16px;
}

.radioWrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100px;
}

.messageInput {
  display: block;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
}

.notice{
  accent-color: var(--color-notice);
}

.warning{
  accent-color: var(--color-warning);
}

.error{
  accent-color: var(--color-error);
}

.success{
  accent-color: var(--color-success);
}

.button{
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
} 